/*
- main axis corresponds to horizontal, cross axis corresponds to vertical
- display: the format of displaying items, not deal with how 
position these items
- flex-direction: flex default main axis is horizontal. this property allows to change direction to column
- justify-content: deals with how space/position item. flex-start, flex-end, space-between, space-evenly
- align-items: similar to justify-content but works with cross axis
- flex-wrap: wrap or unwrap items in one line to flex. default is unwrap.
- align-content: works only when flex-wrap is set to wrap. cross axis align every contents in the box
- gap: add gaps between items
- flex-grow / flex-shrink / flex-basis: unitless values to get items grow or shrink to the empty space. short-hand is flex only
- align-self: override align-items to position only that self item
*/

body {

    /* Add a background color or image */
    background-color: white;

    /* Adjust the padding and margins */
    padding: 0 0;
    margin: 0 0;
    margin-bottom: 100px;

}

main {
  padding: 0 40px;
  margin: 10px 80px;
}

html {
  max-height: 100%;
  max-width: 100%;
}

.web-name-format {
  font-family: "Acme", sans-serif;
  color: black;
}

/* HEADER */
.header-container {
  display:flex; 
  flex-direction: column; 
  align-content: center;
  width: 100%;
  /* position: fixed; */
  z-index: 1000;
  top: 0; /*set the space between box to html webpage*/
  background-color: white;
  border: 2px solid pink;
}

.header-container header {
  /* This will make the header a flex container */
  display: flex;
  flex-wrap: wrap;
  /* This will distribute space evenly between the items */
  justify-content: space-between;
  /* This will align the items vertically in the center */
  align-items: center;
}

.header-container header img {
  display: block;
  height: 150px;
  width: 150px;
  margin-left: 10px;
}

.header-container header h1{
  text-transform: uppercase;
  text-align: center;
  font-family: "Acme", sans-serif;
  color: black;
  margin: 0;
}

.header-container header h2 {
  text-align: center;
  font-family: "Acme", sans-serif;
  color: black;
  margin: 0;
}

.material-symbols-outlined{
  color: black;
}

.header-container header form {
  display: flex;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
}

.search-bar {
  font-family: "Shantell Sans", sans-serif;
  font-size: 16px;
  border-style: solid black;
  border-radius: 10px;
  width: 200px;
  padding: 5px 5px;
}

.search-button {
  font-family: "Shantell Sans", sans serif;
  font-size: 14px;
  background-color: #00bcf2;
  border-radius: 10px;
  border-color: none;
  border-style: none;
  width: 50px;
  margin-left: 3px;
  padding: 5px;
  cursor: pointer;
}

/*----------------*/

/* NAVIGATION BAR */
.navigation-bar {
  display: flex;
  flex: 1;
  height: 50px;
  background-color: black;
  gap: 5px;
}

.navigation-bar ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
  width: 100%;
  list-style-type: none;
}

.navigation-bar > ul >li {
  display: flex;
  align-items: center; /* Vertically center. work within display: flex or grid only */
  justify-content: center; /* Horizontally center */
  text-align: center;
}

/* UNIT 5 PRJ */
.dark-mode {
  background-color: rgb(33, 33, 33);
  color: white;
}

.navigation-bar a {
  text-decoration: none;
  align-self: center;
  font-family: "Dosis", sans serif;
  font-size: 21px;
  font-weight: bolder;
  display: inline-block;
}

.navigation-bar a:link {
  color: white;
}

.navigation-bar a:hover {
  text-decoration: underline;
}
.navigation-bar a:visited {
  color: white;
}
.navigation-bar a:active {
  color: yellow;
}
/*----------------*/

/* MAIN */
main {
  background-color: white;
}

.sub-heading{
  font-family: "Shantell Sans", sans-serif;
  font-style: oblique;
  font-size: 20px;
  text-align: center;
  text-shadow: 1px 0px 1px black,
    -1px 0px 1px black,
    0px 1px 1px black,
    0px -1px 1px black,
    0 0 10px #0091ff,
    0 0 5px #00358a;
  text-transform: capitalize;
  letter-spacing: 2.5px;
  word-spacing: 2px;
  color: #fce100;
  margin: 20px;
}

.about-us-section-format {
  display: flex;
  border: 2px solid black;
  margin: 10px 10px;
  gap: 20px;
  height:40%;
}

/* First Section */
#about-us-sub-section {
  display: flex;
  flex: 5;
  flex-direction: column;
  align-items: center;
  border: 1px solid blue;
  /* background-color: #c2e8f5; */
}

#about-us-sub-section p a:hover {
  color: yellow;
}

#about-us-sub-section p a:visited{
  color: #3a3335;
}

#about-us-sub-section p a:active {
  color: blue;
}

/* Aside section in About Us section*/
.aside-about-us-format {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  border: 1px solid red;
  background-color: #c2e8f5;
  align-self: stretch;
}

.aside-about-us-format h4 {
  display: flex; 
  align-items: center;
  justify-content: flex-start;
  font-family: 'Acme', sans-serif; 
  font-size: 20px; 
  letter-spacing: 1.5px; 
  word-spacing: 2px; 
  color: black; 
  margin: 0; 
  padding: 0 10px;
}

.join-community label {
  font-family: "Shantell Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}

.join-community {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
}

.join-community div {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  gap: 5px;
}

.join-community div > input {
  height: 50%;
  width: auto;
}

.join-community button {
  margin: 0 0;
}

.aside-about-us-format input {
  /* flex-grow: auto; */
  width: 100%;
  height: 20px;
  font-size: 10px;
  font-family: "Shantell Sans", sans-serif;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px 5px;
}

.aside-about-us-format figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aside-about-us-format article p {
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: black;
  word-spacing: normal;
  letter-spacing: normal;
}

.aside-about-us-format article p:link {
  color: #3a3335;
}

.aside-about-us-format article p:hover {
  color: yellow;
}

.aside-about-us-format article p:visited {
  color: lightpink;
}

.aside-about-us-format article p:active {
  color: blue;
}

.aside-about-us-format article a {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.aside-about-us-format article img {
  max-width: 100%;
  max-height: 100%;
}

#must-read-article {
  display: flex; 
  flex-direction: column; 
  justify-content: space-between;
}

.must-read-items-box {
  display: flex; 
  justify-content: space-around; 
  align-items: flex-start;
  gap: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.must-read-flex-item {
  flex-direction: column;
  flex: 1;
  position: relative;
  height: inherit;
  gap: 10px 10px;
  align-self: stretch;
}

.must-read-flex-item img {
  margin-top: auto;
  height: 60%;
}

.must-read-flex-item p {
  height: auto;
  margin-bottom: auto;
}


.image-container {
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  flex-shrink: 0;
  border: solid yellow;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 0;
  border-image-source: none;
  border-radius: 25px;
  box-sizing: border-box; /*makes the element’s padding and border included in the element’s total width and height, but not the margin*/
}

figcaption {
  color: #272526;
  font-family: "Dosis", sans-serif;
  font-size: 13px;
  font-style: italic;
  font-weight: 600;
}

figure {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  margin: 0;
  padding: 5px 5px
}

.basic-button{
  font-family: "Montserrat Alternates", sans-serif;
  background-color: #40DFEF;
  color: black;
  cursor: pointer;
}

.pill-button {
  padding: 10px 10px;
  border: none;
  border-radius: 25px;
  background-color: #40DFEF;
  color: black;
  cursor: pointer;
}

.rounded-button {
  font-family: "Montserrat Alternates", sans-serif;
  padding: 10px 10px;
  border: none;
  border-radius: 10px;
  background-color: #40DFEF;
  color: black;
  cursor: pointer;
}


.latest-news-format {
  /* background-color: #8ebfa1; */
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  gap: 10px;
  /* margin: 15px 0px; */
  padding: 10px 15px
}

.latest-news-format div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  max-height: 100%;
  /* border: 1px solid black; */
  gap: 15px;
}

.latest-news-format div img {
  object-fit: contain;
  width: 100%;
  height: auto;
  border-radius: 25px;
}

.latest-news-format-text {
  margin-top: auto;
  object-fit: contain;
}

.latest-news-format div p {
  text-align: center;
  object-fit: cover;
  margin: 0 0;
  padding: 0 0;
  color: #3a3335;
  font-family: "Dosis", sans-serif;
  font-size: 18px;
  font-weight: 500;
  word-spacing: 1px;
}

.latest-news-format div iframe {
  flex-grow: 1;
  width: 100%;
  height: auto;
  margin: auto;
  border-radius: 25px;
}

.latest-news-format div a:link {
  color: #3a3335;
  text-decoration: none;
}

.latest-news-format div a p:hover {
  color: yellow;
}

.latest-news-format div a p:visited {
  color: #3a3335;
}

.latest-news-format div a p:active {
  color: blue;
}

.section-title-format{ /*Use for section title*/
  font-family: "Acme", sans-serif;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1.5px;
  word-spacing: 2px;
  color: black;
  padding: 10px 15px;
  margin: 0;
}

.text-format{ /*Use for section body text*/
  color: #3a3335;
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  font-weight: 600;
  word-break: keep-all;
  word-spacing: 2px;
  letter-spacing: 1px;
  line-height: 1.5em;
  padding: 10px 10px;
  margin: 0;
}

.section-format {
  display:flex; 
  flex-direction: column;
  max-width: 100%; 
  height:20%; 
  /* background-color: burlywood;  */
  align-content: space-evenly; 
  margin: 10px 0px;
}

.spot-light-body {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  background-color: rgb(230, 192, 155);
  border: 2px solid black;
  margin: 0 0;
  padding: 0 5px;
}

.spot-light-body h3 {
  padding: 0 0;
  margin: 0 0;
  border: 2px solid blue;
}

.spot-light-body > article{
  /* display: flex;
  flex-direction: column;
  flex: 1; */
  border: 1px solid rgb(246, 16, 55);
  margin: 0 0;
  padding: 0 0;
}

.spot-light-body--article-img{
  object-fit: contain;
  height: 20%;
  width: 100%;
  align-self: stretch;
  border-radius: 25px;
}

.spot-light-body iframe {
  width: 100%;
  border-radius: 25px;
  align-self: center;
}

.spot-light-body a:link {
  color: #3a3335;
  text-decoration-color: #3a3335;
}

.spot-light-body a:hover {
  color: #3a3335;
  text-decoration-color: yellow;
}

.spot-light-body a:visited {
  color: #3a3335;
  text-decoration-color: #3a3335;
}

.spot-light-body a:active {
  color: #3a3335;
  text-decoration-color: blue;
}

.spot-light-body h4 {
  margin: 5px 0;
  padding: 0 0;
  font-size: 20px;
  color: #3a3335;
}

.spot-light-body a h4:hover {
  color: yellow;
}

.spot-light-body a h4:visited {
  color: #3a3335;
}

.spot-light-body a h4:active {
  color: blue;
}

.spot-light-body p {
  color: #3a3335;
  margin: 5px 0;
  padding: 0;
  font-size: 16px;
}


.spot-light-body a p:hover {
  color: yellow;
}

.spot-light-body a p:visited {
  color: #3a3335;
}

.spot-light-body a p:active {
  color: blue;
}


/* 
button {
  background-color:  #008CBA;
  border: none;
  color: white;
  font-size: 16px;
  text-align: center;
  outline-style: offset;
  padding: 15px 32px;
  cursor: pointer;
} */



/* UNIT 6 PRJ */
.petition {
  margin: 20px 20px;
}

.petition-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100;
  padding-bottom: 50px;
}

.petition-para {
  width: 55%;
  padding-right: 10px;
}

.signatures {
  width: 45%;
  padding-right: 10px;
}


/* UNIT 7 */
.error {
  border-style: solid;
  border-width: 2px;
  border-color: red;
  background:pink;
}